/.vs/
/.git/
/MainProject/KosenProcon30/.vs/
/MainProject/KosenProcon30/App/AS_DEBUG/
/MainProject/KosenProcon30/App/example/
/MainProject/KosenProcon30/App/json/
/MainProject/KosenProcon30/App/json/buffer.json
/MainProject/KosenProcon30/App/json/AllMatchesInfo.json
*.exe
*_log.html
*.user


#dll‚ð‚«‚¿‚ñ‚Æˆê’v‚³‚¹‚é‚½‚ß
/MainProject/KosenProcon30/Intermediate/KosenProcon30/Debug/*
/MainProject/KosenProcon30/Intermediate/KosenProcon30/Release/*
!libcurl.dll
!libcurl-d.dll

